<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1458053688450-eef5d21d43b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80)">
  <div class="container">
    <h1 class="text-center">Keeping your movie memory alive</h1>
    <div class="col-12 text-center py-4">
      <%= link_to "Add a movie list", new_list_path(@list), class: "btn button-50"%>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row justify-content-center">
    <% @lists.in_groups_of(4, false).each do |list| %>
      <div class="row mb-3">
        <% list.each do |list| %>
          <div class="col-md-3">
            <%= render list %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
