<div class="modal fade" id="newbookmarkmodal" tabindex="-1" aria-labelledby="newbookmarkmodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="newbookmarkmodalLabel">New Movie Bookmark</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([list, @bookmark]) do |f| %>
          <div class="form-inputs">
            <%= f.association :movie, label: "Select a Movie" %>
            <%= f.input :comment, label: false, placeholder: "Bookmark comment" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-outline-success rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
