<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/rafaover"><i class="fa-brands fa-square-github fa-lg" style="color: #7e0c0c;"></i></a>
    <a href="https://www.linkedin.com/in/rafamsilva/"><i class="fa-brands fa-linkedin fa-lg" style="color: #7e0c0c;"></i></a>
  </div>
  <div class="footer-copyright">
    Keep watching movies! © 2023 by Movie Memory. <i class="fa-solid fa-film fa-lg mx-3" style="color: #7e0c0c;"></i> Created with Ruby on Rails.
  </div>
</div>
